<%- include('../Includes/head.ejs') %>

<body>
    <%- include('../Includes/navigation.ejs') %>
    <main class='centered'>
        <h1><%= product.title %></h1>
        <hr>
        <div class='product__image'>
            <img src ="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h3> <%= product.price %></h3>
        <p><%= product.description %></p>
        <%- include('../Includes/add-to-cart.ejs') %>
    </main>
    <%- include('../Includes/end.ejs') %>